*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', 'sans-serif';
}
body{
    background: #002339;
    color: #fff;
}

.container{
    margin: 12%;
    width: 90%;
    max-width: 700px;
}
.container h1 {
    font-weight: 500;
    font-size: 3vw;

}
.container h1 span{
    color: #019f55;
    border-bottom: 4px solid #019f55;
    padding: 7px  0;
}

.display{
    width: 100%;
    margin-top: 50px;
    margin-bottom: 30px;
    background: #fff;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 20px;
    border-radius: 5px;
}
.display img{
    width: 30px;
    cursor: pointer;
}

.display input{
    border: none;
    outline: none;
    width: 50%;
    padding: 7px 10px;
    font-size: 20px;
}
.container button{
   background: #019f55;
   /* text-align: center; */
   border: 0;
   outline: 0;
   color: #fff;
   font-size: 18px;
   font-weight: 300;
   padding: 10px 8px;
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 5px;
   cursor: pointer;
}
.container button img{
    width: 18px;
    margin-right: 10px;
}